a :hover{
  cursor: pointer;
}

body {
  margin-top: 50px;
}

::-ms-clear {
  display: none;
}

.form-control-clear {
  opacity: .5;
  margin-right: 40px;
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

.form-control-clear:hover {
  opacity: 1;
}
